.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.total{
    margin-top: 20px !important;
    color:grey;
    font-size: 20px !important;
}
.removeCart{
    padding-top: 10px !important;
    justify-content: space-evenly;
    }
    
    .cardMedia{
        margin: auto;
        width: auto !important;
    }
    .cardDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .cartMain{ width: 600px;margin:auto;}
    .progress{
        align-items: center !important;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20%;
    }
    .circle{margin: auto;}
    .empty{max-width: 100%;
        height: auto;
    }
    
    .incrementBtn, .decrementBtn{border: none !important;color: black !important}
    .counting{border: 1px solid black;padding: 5px; border-radius: 5px;width: 140px;margin: auto;}
    .confirmBox{display: flex;flex-direction: row;justify-content: space-evenly;}
    .ModelHead{text-align: center;}
    .cancel{color:red !important;border:1px solid red !important;}
    .cancel:hover{background-color: red !important;color:white !important }
    .addressBtn{color: black !important; border:1px solid black !important;}
    .addressBtn:hover{background-color: black !important;color:white !important }
    .confirm{color:darkgreen !important;border: 1px solid green !important;}
    .confirm:hover{background-color: green !important;color:white !important}
    .shoppingBtn{color:white !important;min-width: 0 !important;padding: 0 !important;}
    .drawer{padding: 25px;}

    .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color:green !important
    }
    .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
        color:black !important;
    }