.profile {
    height: 61vh;
}

.address {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}
.profileContainer{height: 58vh;width: 100%;}
.avatar{width: 60px !important; height: 60px !important;}